<section class="row p-5 m-0">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <p>You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p class="m-0">Thank you!</p>
    </div>
</section>